body{
    font: 20px sans-serif;
    margin: 0;
}
h1{
    text-align: center;
}

.wrapper{
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 50px;
    padding: 50px;
}
#house{
    box-shadow: 0 0 5px 0 #f888;
    border-radius: 10px;
    padding: 20px;
}